*{box-sizing: border-box;}
.container{
    margin: 0 auto;
}

a, li{
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header .container{
    background-color: rgb(10, 75, 10);
}
li{
    display: block;
    list-style: none;
    padding: 0 15px;
}
.row1{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.row1 .col-25{
    width: 25%;
    display: block;
}
.row1 .col-25 .header-left{
    display: flex;
}
.header-left .language{
    border-right: 1px solid white;
}
.col-75 li{
    width: 200px;
}
.row1 .col-75 .header-right{
    display: flex;
    width: 75%;
}
.row2 {
    width: 100%;
    display: flex;
    justify-content: center;
}
